{% extends 'investments/base.html' %}
{% block content %}
<h1 style="text-align: center;">Investment detail</h1>
<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Id</th>
            <th>Investment</th>
            <th>Value</th>
            <th>Date</th>
            <th>Paid</th>
        </tr>
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.investment}}</td>
            <td>{{data.value}}</td>
            <td>{{data.date}}</td>
            <td>{{data.paid}}</td>
        </tr>
    </table>
</div>
{% endblock %}